<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cora">

  <!-- Arguments and Parameters -->
  <xacro:arg name="camera_namespace" default="cameras/"/>
  <xacro:arg name="sensor_namespace" default="sensors/"/>
  <xacro:arg name="pinger_namespace" default="pingers/"/>
  <xacro:property name="camera_namespace" value="$(arg camera_namespace)" scope="global" />
  <xacro:property name="sensor_namespace" value="$(arg sensor_namespace)" scope="global" />
  <xacro:property name="pinger_namespace" value="$(arg pinger_namespace)" scope="global" />
  
  <!-- Note: this is only used for some sensors that do not correctly use the
  robotNamespace parameter -->
  <xacro:arg name="namespace" default="cora"/>
  <xacro:property name="namespace" value="$(arg namespace)" scope="global" />

  <!-- Thrusters mess this up - so this is hack - TODO Fix! -->
  <xacro:arg name="root_namespace" default=""/>
  <xacro:property name="root_namespace" value="$(arg root_namespace)" scope="global" />
  <xacro:arg name="thruster_namespace" default="thrusters/"/>
  <xacro:property name="thruster_namespace" value="$(arg thruster_namespace)" scope="global" />

  <xacro:arg name="tf_prefix" default="cora1" />
  <xacro:property name="tf_prefix" value="$(arg tf_prefix)" scope="global" />

  <!-- Robot mesh -->
  <xacro:include filename="$(find mrc_examples)/urdf/cora.urdf.xacro" />
    
  <!-- Hydrodynamics plugin -->
  <xacro:include filename="$(find mrc_examples)/urdf/cora_dynamics_plugin.xacro" />
  <xacro:usv_dynamics_gazebo name="cora_dynamics_plugin" />

  <!-- Thrusters -->
  <xacro:include filename="$(find mrc_examples)/urdf/thrusters.xacro" />

  <!-- P3D -->
  <gazebo>
    <plugin name="p3d_plugin_cora" filename="libgazebo_ros_p3d.so">
      <bodyName>${tf_prefix}/cora/base_link</bodyName>
      <frameName>world</frameName>
      <updateRate>10.0</updateRate>
      <topicName>cora/sensors/p3d</topicName>
      <xyzOffset>0 0 0</xyzOffset>
      <rpyOffset>0 0 0</rpyOffset>
      <gaussianNoise>0</gaussianNoise>
    </plugin>
  </gazebo>

  <!-- Lidar -->
  <xacro:include filename="$(find mrc_examples)/urdf/cora_3d_lidar.xacro"/>
  <xacro:cora_3d_lidar name="lidar"
                           x="-0.595" y="0" z="5"
                           R="0" P="${radians(0)}" Y="0"
                           post_Y="0" post_z_from="4.6"
                           vertical_lasers="16"/>
  
  <!-- GPS 
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_gps.xacro" />
  <xacro:wamv_gps name="gps" x="-1.0" z="4.6" 
  		  update_rate="20" />
  -->
  <!-- IMU 
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_imu.xacro" />
  <xacro:wamv_imu name="imu" y="-0.2" z="1.0" update_rate="100" />
  -->
  
  <!-- Cameras 
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_camera.xacro" /
  <xacro:wamv_camera name="front_left_camera"  x="-0.61" y="0.2"  z="4.7" 
  post_z_from="4.6" P="${radians(15)}" />
  <xacro:wamv_camera name="front_right_camera" x="-0.61" y="-0.2" z="4.7" 
  post_z_from="4.6" P="${radians(15)}" />
  -->
  
</robot>
