<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cora">

  <!-- Robot mesh -->
  <xacro:include filename="$(find mrc_examples)/urdf/corared.urdf.xacro" />


 <gazebo>
      <plugin name="p3d_plugin_cora" filename="libgazebo_ros_p3d.so">
        <bodyName>base_link</bodyName>
        <frameName>map</frameName>
        <updateRate>10.0</updateRate>
        <topicName>cora/sensors/p3d</topicName>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <gaussianNoise>0</gaussianNoise>
      </plugin>
</gazebo>

</robot>
